body {
    background:#000;
}
#wrapper  {
    width:800px;
    background:#FFE;
    padding:10px;
    margin-left:250px;
    position:absolute;
    top:45px;
    border-radius:10px;
}
#header {
    position:relative;
    background:#6699ff 0 0 repeat;
    height:100px;
    border-radius:10px;
    -moz-box-shadow:#000 2px 2px 10px;
}

#content {
    position: relative;
    top: 10px;
    background:#CCC;
    padding:10px;
        list-style-type:none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding:15px;
}

h1 {
    font-size:10px;
    position: relative;
    left:740px;
    text-decoration:none;
}
h2 {
    position:relative;
    top:35px;
    left:35px;
    font-size:35px;
    color:#FFF;
    font-style:italic;
}
.admin {
    position:relative;
    top:10px;
    left:35px;
    text-decoration:none;
}
.form {
    position: relative;
    padding: 15px;
    margin-left: 10px;
}
#nav {
    position:relative;
    padding:5px 0px;
    margin:15px 10px 10px 10px;
    background:#aaa;
    border-radius:10px;
    -moz-box-shadow:#000 1px 1px 4px;
}
#nav > ul li {
    list-style-type:none;
    color:#00000;
    float:left;
    padding-right:15px;
    position:relative;
    top: -17px;
}
#header a {
    text-decoration:none;
    color:#FFF;
    text-shadow:#000 0px 0px 5px;
}
#nav a {
    text-decoration:none;
    color:#FFF;
    text-shadow:#000 2px 2px 2px;
}
#footer {
    position:relative;
    font-size:8px;
    float:left;
    left:540px;
}

